/* /* Estilos personalizados para la página web */


body {
    font-family: Arial, sans-serif;
}
.navbar-nav{
    display: flex;
    gap: 1.5rem;
}
.navbar-nav .nav-link {
    color: rgb(6, 43, 145);
    font-size: 1.5rem;
  
}
.color-titulo{
    color: rgb(6, 43, 145);
}
.nav-link:hover{
    color: #49a76d;
}
.carousel-item {
    height: 50rem;
    background-size: cover;
    background-position: center;
}

.section-heading {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.services-icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 15px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}

.footer a {
    color: #ff6347;
}
.img-logo{
    width: 8%;
}

/*tarjetas de personajes*/


/* From Uiverse.io by gharsh11032000 */ 
.card-tarj{
    position: relative;
    width: 300px;
    height: 200px;
   /*  background-color: #f2f2f2; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-tarj svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-tarj:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-tarj:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card-tarj:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
/*fin tarjetas de personajes*/